body {
  width: 1440px;
  min-width: 1160px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: normal;
  color: #283136;
  background-color: #ffffff;
}

a {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.main-menu {
  width: 100%;
  background-color: #eeeeee;
}

.main-menu-item {
  display: inline-block;
  list-style: none;
}

.main-menu-item a:hover {
  color: #fb565a;
}

.main-menu-item a:active {
  color: #000000;
  opacity: 0.3;
}

li.current-menu-item {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 10px;
}

.features {
  width: 100%;
  height: 425px;
  background-color: #eeeeee;
}

.btn {
  display: inline-block;
  line-height: 18px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border-radius: 2px;
}

.feature-btn {
  width: 240px;
  height: 50px;
  background-color: #fb565a;
}

.feature-btn:hover {
  background-color: #e74246;
}

.feature-btn:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.feature-item {
  width: 1160px;
  height: 425px;
  background-repeat: no-repeat;
}

.feature-1 {
  background-image: url("../img/slide1.png");
  background-position: 430px 50%;
}

.feature-2 {
  background-image: url("../img/slide2.png");
  background-position: 430px 50%;
}

.feature-3 {
  background-image: url("../img/slide3.png");
  background-position: 400px 50%;
}

.feature-item-title {
  font-size: 55px;
  line-height: 55px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
  text-align: left;
}

.slider-item {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
}

.slider-item:first-child {
  top: 571px;
  left: 536px;
}

.slider-item:nth-child(2) {
  top: 571px;
  left: 575px;
}

.slider-item:last-child {
  top: 571px;
  left: 614px;
}

.products,
.about-us,
.partners {
  width: 1160px;
  background-color: #ffffff;
  border-bottom: 2px solid #eeeeee;
}

.order-btn {
  width: 160px;
  height: 50px;
}

.order-site-btn {
  background-color: #fb565a;
}

.order-site-btn:hover {
  background-color: #e74246;
}

.order-site-btn:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.order-app-btn {
  background-color: #00ca74;
}

.order-app-btn:hover {
  background-color: #00bc6c;
}

.order-app-btn:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.order-presentation-btn {
  background-color: #efc84a;
}

.order-presentation-btn:hover {
  background-color: #eab534;
}

.order-presentation-btn:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.ability-item {
  list-style: none;
}

.advantage-percent-item {
  font-size: 45px;
  line-height: 10,06px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
}

.advantage-percent-title {
  line-height: 18px;
  color: #283136;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

h1.title-1 {
  font-size: 55px;
  line-height: 55px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
}

h2.title-2 {
  font-size: 45px;
  line-height: 45px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
}

.title-about-us {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.writetous p,
.catalog-item-description p {
  line-height: 18px;
  color: #666666;
}

.writetous p:first-child {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

a.writetous-btn {
  width: 219px;
  height: 50px;
  background-color: #fb565a;
}

a.writetous-btn:hover {
  background-color: #e74246;
}

a.writetous-btn:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.close-btn {
  width: 21px;
  height: 21px;
  background-image: url("../img/svg-nerds/close-cross.svg");
  opacity: 0.3;
}

.close-btn:hover {
  opacity: 1;
}

.close-btn:active {
  opacity: 0.1;
}

.userdata {
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

textarea,
input[type="text"] {
  border: 2px solid #d7dcde;
}

textarea:hover,
input[type="text"]:hover {
  border: 2px solid #b4b9bb;
}

textarea:focus,
input[type="text"]:focus {
  line-height: 18px;
  color: #000000;
  outline: none;
  border: 2px solid #000000;
}

textarea:invalid,
input[type="text"]:invalid {
  line-height: 18px;
  color: #e74246;
  border: 2px solid #e74246;
}

input[type="text"] {
  width: 360px;
  height: 50px;
}

textarea {
  width: 760px;
  height: 118px;
}

.btn-form {
  width: 260px;
  height: 50px;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
}

footer {
  width: 1160px;
  background-color: #ffffff;
}

.social-btn {
  display: inline-block;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-btn-vk {
  background-image: url("../img/svg-nerds/vk-icon.svg");
}

.social-btn-vk:active {
  background-image: url("../img/svg-nerds/vk-icon-active.svg");
}

.social-btn-fb {
  background-image: url("../img/svg-nerds/fb-icon.svg");
}

.social-btn-fb:active {
  background-image: url("../img/svg-nerds/fb-icon-active.svg");
}

.social-btn-insta {
  background-image: url("../img/svg-nerds/insta-icon.svg");
}

.social-btn-insta:active {
  background-image: url("../img/svg-nerds/insta-icon-active.svg");
}

.friendship span:first-child {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.friendship span:last-child {
  line-height: 22px;
  color: #444444;
}

.catalog-title {
  width: 100%;
  height: 247px;
  background-color: #eeeeee;
  text-align: center;
}

.range {
  width: 261px;
  height: 81px;
  background-color: #eeeeee;
}

.greenline {
  width: 130px;
  height: 2px;
  background-color: #00ca74;
}

.greyline {
  width: 62px;
  height: 2px;
  background-color: #d7dcde;
}

input[type="number"] {
  line-height: 22px;
  color: #283136;
  background-color: #eeeeee;
}

.pricerange {
  line-height: 22px;
  color: #283136;
}

.layouts label,
.layouts-features label,
.layouts-features label:hover,
input[type="radio"],
input[type="checkbox"],
input[type="checkbox"]:hover {
  line-height: 20px;
  color: #283136;
}

.layouts label:hover {
  color: #000000;
}

input:disabled,
label.disabled {
  color: #283136;
  opacity: 0.3;
}

.layouts li,
.layouts-features li {
  list-style: none;
}

.filter-btn {
  width: 260px;
  height: 50px;
  line-height: 18px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  border: none;
  background-color: #eeeeee;
}

.filter-btn:hover {
  background-color: #dfdfdf;
}

.filter-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.sorting {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.sorting-type {
  font-size: 14px;
  font-weight: normal;
  opacity: 0.3;
}

.sorting-type:hover {
  opacity: 0.6;
}

.sorting-type:active,
.sorting-type-current,
.sorting-direction-current {
  opacity: 1;
}

.sorting-direction {
  display: inline-block;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.2;
}

.sorting-direction:hover {
  opacity: 0.6;
}

.sorting-direction:active {
  opacity: 1;
}

.sorting-down {
  background-image: url("../img/svg-nerds/icon-down-dir.svg");
}

.sorting-up {
  background-image: url("../img/svg-nerds/icon-up-dir.svg");
}

.catalog-item {
  display: block;
  width: 360px;
  height: 576px;
  margin-bottom: 310px;
  list-style: none;
}

.catalog-item::before {
  content: "";
  display: block;
  width: 360px;
  height: 40px;
  background-image: url("../img/svg-nerds/browser.svg");
  opacity: 0.12;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item-description {
  display: block;
  position: relative;
  width: 360px;
  height: 231px;
  background-color: #eeeeee;
  text-align: center;
}

.catalog-order-btn {
  width: 200px;
  height: 50px;
  background-color: #fb565a;
}

.catalog-order-btn:hover {
  background-color: #e74246;
}

.catalog-order-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.paginator {
  display: inline-block;
  list-style: none;
}

.paginator-item a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 18px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  color: #000000;
  text-align: center;
  background-color: #eeeeee;
}

.paginator-item a:hover {
  background-color: #dfdfdf;
}

.paginator-item a:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.paginator-item-current a,
.paginator-item-current a:hover,
.paginator-item-current a:focus,
.paginator-item-current a:active {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  box-sizing: border-box;
}

h3.title-3 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.title-item {
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
