html {
  box-sizing: border-box;
  margin: 0 auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  min-width: 1200px;
  max-width: 1440px;
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-weight: normal;
  color: #283136;
  background-color: #ffffff;
}

a {
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-header {
  display: flex;
  justify-content: center;
  background-color: #eeeeee;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.main-menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1160px;
  margin: 0;
  margin-top: 49px;
  padding: 0;
  font-size: 16px;
  line-height: 30px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
}

.main-menu-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 40px;
  width: 600px;
  margin: 0;
  margin-top: 14px;
  margin-left: 202px;
  padding: 0;
}

.main-menu-navigation li {
  margin-right: 47px;
}

.main-menu-navigation li:nth-child(3) {
  margin-right: 44px;
}

.main-menu-navigation li:last-child {
  margin-left: 0;
  margin-right: 0;
}

.main-menu-cart {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  min-height: 40px;
  width: 115px;
  margin: 0;
  margin-top: 14px;
  margin-left: 245px;
  padding: 0;
}

.cart {
  position: relative;
}

.cart::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: -40px;
  top: 9px;
  background-image: url("../img/svg-nerds/cart-icon.svg");
  background-repeat: no-repeat;
}

.main-menu-item {
  list-style: none;
}

.main-menu-item a:hover {
  color: #fb565a;
}

.main-menu-item a:active {
  color: #000000;
  opacity: 0.3;
}

.current-menu-item {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 4px;
  box-sizing: border-box;
}

.features {
  display: flex;
  height: 422px;
  background-color: #eeeeee;
}

.btn {
  display: inline-block;
  font-size: 16px;
  line-height: 18px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;
  border-radius: 2px;
  padding: 16px 0;
  cursor: pointer;
}

.feature-btn {
  width: 240px;
  height: 50px;
  background-color: #fb565a;
}

.feature-btn:hover {
  background-color: #e74246;
}

.feature-btn:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.feature-item {
  height: 280px;
  margin-top: 66px;
}

.feature-item-1 {
  width: 380px;
}

.feature-item-2 {
  width: 530px;
}

.feature-item-3 {
  width: 460px;
}

.feature-item-2 p:nth-child(2) {
  padding-right: 90px;
}

.feature-item p:nth-child(2) {
  margin-bottom: 40px;
}

.feature-item-title {
  font-size: 55px;
  line-height: 55px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
  text-align: left;
  margin-bottom: 30px;
}

.feature-container {
  position: relative;
  width: 1200px;
  height: 430px;
  margin: 0 auto;
}

.feature-container input[type=radio] {
    position: absolute;
    opacity: 0;
}

.slider-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 555px;
  top: 308px;
  width: 89px;
  height: 18px;
  margin: 0 auto;
  z-index: 1000;
}

.slider-controls label{
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 0;
  background-color: #ffffff;
  border: 5px solid white;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #c1c1c1;
}

#btn-1:checked ~ .slider-controls label,
#btn-2:checked ~ .slider-controls label,
#btn-3:checked ~ .slider-controls label {
  position: relative;
}

#btn-1:checked ~ .slider-controls label::after,
#btn-2:checked ~ .slider-controls label::after,
#btn-3:checked ~ .slider-controls label::after {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 4px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 50%;
}

.slider-controls .active {
  background-color: #c1c1c1;
}

.feature-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  overflow: hidden;
}

.feature-block {
  display: none;
}

#btn-1:checked ~ .slides .feature-block:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .feature-block:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .feature-block:nth-child(3) {
  display: block;
}

.feature-block:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-position: 451px 9px;
  background-repeat: no-repeat;
}

.feature-block:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-position: 517px 0;
  background-repeat: no-repeat;
}

.feature-block:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-position: 421px 19px;
  background-repeat: no-repeat;
}

.products,
.about-us,
.partners,
.map,
.main-footer {
  width: 100%;
  background-color: #ffffff;
}

.products {
  margin-top: 80px;
}

.product-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 77px;
}

.product-item {
  width: 360px;
  min-height: 350px;
}

.product-item .title-3 {
  padding: 0;
  margin: 0;
  margin-top: 19px;
  padding-bottom: 4px;
}

.product-item p {
  max-width: 260px;
  padding: 0;
  padding-top: 11px;
  padding-bottom: 32px;
  margin: 0;
  margin-left: 1px;
}

.order-btn {
  width: 160px;
  height: 50px;
}

.order-site-btn {
  background-color: #fb565a;
}

.order-site-btn:hover {
  background-color: #e74246;
}

.order-site-btn:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.order-app-btn {
  background-color: #00ca74;
}

.order-app-btn:hover {
  background-color: #00bc6c;
}

.order-app-btn:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.order-presentation-btn {
  background-color: #efc84a;
}

.order-presentation-btn:hover {
  background-color: #eab534;
}

.order-presentation-btn:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.bottom-line {
  width: 1160px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;
}

.about-us-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}

.about-us-description {
  width: 660px;
  margin-top: 36px;
}

.about-us-description .title-2 {
  margin-bottom: 34px;
}

.about-us-description p {
  margin-bottom: 41px;
}

.abilities {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 435px;
  min-height: 120px;
  padding: 0;
  margin: 0;
  margin-top: 23px;
}

.about-us-advantage {
  width: 360px;
  height: 415px;
  margin-top: 40px;
}

.ability-item {
  position: relative;
  min-width: 430px;
  padding-left: 37px;
  list-style: none;
}

.ability-item::before {
  content: "";
  position: absolute;
  left: 1px;
  top: 12px;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.advantages {
  width: 360px;
  height: 90px;
  margin-top: 30px;
  margin-left: 1px;
}

caption.title-about-us {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.advantage-percent-item {
  width: 120px;
  height: 50px;
  text-align: left;
  vertical-align: middle;
  font-size: 45px;
  line-height: 10.06px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
}

.advantage-percent-item sup {
  font-size: 28px;
}

.advantage-percent-title {
  line-height: 18px;
  color: #283136;
  vertical-align: middle;
  padding: 0;
  padding-top: 10px;
  margin: 0;
}

.partners {
  margin: 0;
  padding: 0;
}

.partners-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1160px;
  min-height: 100px;
  padding: 0;
  margin: 0;
  margin-top: 44px;
  margin-bottom: 36px;
  list-style: none;
}

.partners-block li {
  position: relative;
  width: 259px;
  min-height: 95px;
  text-align: center;
}

.partners-block a {
  opacity: 0.2;
}

.partner-1 {
  padding-top: 15px;
}

.partner-2 {
  padding-top: 0;
}

.partner-3 {
  padding-top: 18px;
}

.partner-4 {
  padding-top: 5px;
}

.partners-block li[class^="partner-"]:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 17px;
  right: -21px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.partners-block a:hover {
  opacity: 1;
}

.partners-block a:active {
  opacity: 0.1;
}

.last-bottom-line {
  margin-bottom: 80px;
}

.title-1 {
  font-size: 55px;
  line-height: 55px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
}

.title-2 {
  font-size: 45px;
  line-height: 45px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
}

.title-about-us {
  font-size: 16px;
  line-height: 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.map {
  position: relative;
  height: 420px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.map::before {
  content: "";
  position: absolute;
  left: 820px;
  top: 89px;
  width: 231px;
  height: 190px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
}

/*.map img {
  max-width: 100%;
  height: auto;
}*/

.writetous {
  width: 319px;
  min-height: 308px;
  position: absolute;
  top: 54px;
  left: 140px;
  background-color: #ffffff;
}

.writetous-container {
  width: 219px;
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.writetous p,
.catalog-item-description p {
  font-family: "Roboto Regular", "Arial", sans-serif;
  line-height: 18px;
  color: #666666;
  margin: 0;
  padding: 0;
}

.writetous-container p:first-child {
  margin-top: 49px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.writetous-container p:nth-child(2) {
  margin-top: 23px;
  margin-left: 1px;
}

.writetous-container p:nth-child(3) {
  margin-top: 19px;
  margin-left: 1px;
}

a.writetous-btn {
  width: 219px;
  height: 50px;
  margin-top: 37px;
  background-color: #fb565a;
}

a.writetous-btn:hover {
  background-color: #e74246;
}

a.writetous-btn:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.writetous-modal {
  display: none;
  position: fixed;
  left: 240px;
  top: 5%;
  width: 960px;
  min-height: 590px;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  box-shadow: 0 20px 60px 0 rgba(0, 1, 1, 0.75);
}

.display-modal {
  display:block;
}

.writetous-modal-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 760px;
  min-height: 590px;
  padding: 0;
  margin: 0 auto;
  margin-top: 10px;
}

.writetous-modal-container .modal-user-form {
  padding: 0;
  margin: 0;
}

.writetous-modal-title {
  padding: 0;
  margin: 0;
  margin-top: 65px;
}

.close-btn {
  position: absolute;
  top: 78px;
  right: -10px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  background-image: url("../img/svg-nerds/close-cross.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.close-btn:hover {
  opacity: 1;
}

.close-btn:active {
  opacity: 0.1;
}

.userdata {
  display: inline-block;
  width: 360px;
  padding: 0;
  margin: 0;
  margin-top: 43px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
}

.userdata:first-child {
  margin-right: 36px;
}

.userdata:nth-of-type(3) {
  margin-top: 35px;
}

.message-text,
.userdata-text {
  padding: 0;
  margin: 0;
  margin-top: 6px;
  padding: 12px;
  border: 2px solid #d7dcde;
}

.message-text:hover,
.userdata-text:hover {
  border: 2px solid #b4b9bb;
}

.message-text:focus,
.userdata-text:focus {
  line-height: 18px;
  color: #000000;
  outline: none;
  border: 2px solid #000000;
}

.message-text:invalid,
.userdata-text:invalid {
  line-height: 18px;
  color: #e74246;
  border: 2px solid #e74246;
}

.text-fields {
  display: flex;
  justify-content: space-between;
}

.userdata-text {
  width: 360px;
  height: 50px;
}

.message-text {
  width: 760px;
  height: 118px;
}

.btn-form {
  width: 260px;
  height: 50px;
  margin-top: 42px;
  text-transform: uppercase;
  background-color: #fb565a;
  border: 0;
}

.btn-form:hover {
  background-color: #e74246;
}

.btn-form:active {
  color: rgba(255, 255, 255, 0.302);
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.main-footer {
  min-height: 217px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 960px;
  min-height: 155px;
  margin-top: 52px;
  padding: 0;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 259px;
  margin: 0;
  padding: 0;
  min-height: 75px;
  margin-top: 11px;
  list-style: none;
}

.social-btn {
  display: inline-block;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background-color: #e1e1e1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
}

.social-btn:hover {
  background-color: #e74246;
}

.social-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-btn-vk {
  background-image: url("../img/svg-nerds/vk-icon.svg");
}

.social-btn-vk:active {
  background-image: url("../img/svg-nerds/vk-icon-active.svg");
}

.social-btn-fb {
  background-image: url("../img/svg-nerds/fb-icon.svg");
}

.social-btn-fb:active {
  background-image: url("../img/svg-nerds/fb-icon-active.svg");
}

.social-btn-insta {
  background-image: url("../img/svg-nerds/insta-icon.svg");
}

.social-btn-insta:active {
  background-image: url("../img/svg-nerds/insta-icon-active.svg");
}

.friendship {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 560px;
  min-height: 75px;
}

.friendship span:first-child {
  margin-top: 16px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.friendship span:last-child {
  margin-top: 11px;
  line-height: 22px;
  color: #444444;
}

.catalog-title {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 233px;
  padding-top: 30px;
  background-color: #eeeeee;
}

.catalog-title .title-1 {
  padding-right: 5px;
}

.catalog-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.filters {
  width: 260px;
  height: 800px;
  margin-right: 0;
  margin-top: 36px;
  padding: 0;
}

.range-filter {
  width: 261px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 47px;
  margin-bottom: 57px;
}

.range-controls {
  position: relative;
  height: 81px;
  padding-top: 39px;
  padding-right: 21px;
  padding-left: 20px;
  margin-bottom: 14px;
  border-radius: 2px;
  background: #eeeeee;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  text-transform: uppercase;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: "Roboto Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  width: 80px;
  margin-left: 10px;
  padding: 8px 10px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 2px;
  background: #eeeeee;
}

.filters .title-item:nth-child(3) {
  margin-bottom: 11px;
}

.layouts {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 105px;
  padding: 0;
  margin: 0;
  margin-bottom: 43px;
}

.layouts label {
  position: relative;
}

.layouts label:hover {
  color: #000000;
}

.layouts label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  background-image: url("../img/svg-nerds/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  opacity: 0.4;
}

.layouts label:hover::before,
.layouts input[type=radio]:checked ~ label[for="adaptive-layout"]:hover::before,
.layouts input[type=radio]:checked ~ label[for="fixed-layout"]:hover::before,
.layouts input[type=radio]:checked ~ label[for="rubbery-layout"]:hover::before {
  opacity: 1;
}

.layouts label.disabled::before,
.layouts label.disabled:hover::before,
.layouts-features label.disabled::before,
.layouts-features label.disabled:hover::before {
  opacity: 0.1;
}

.layouts input[type=radio] {
  position: absolute;
  opacity: 0;
}

.layouts input[type=radio]:checked ~ label[for="adaptive-layout"]::before,
.layouts input[type=radio]:checked ~ label[for="fixed-layout"]::before,
.layouts input[type=radio]:checked ~ label[for="rubbery-layout"]::before {
  position: absolute;
  top: 0;
  left: -35px;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  background-image: url("../img/svg-nerds/radio-on.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.4;
}

.layouts li {
  padding: 0;
  padding-left: 37px;
  margin: 0;
}

.disabled {
  color: #283136;
  opacity: 0.3;
}

.layouts li,
.layouts-features li {
  list-style: none;
}

.layouts label,
.layouts-features label,
.layouts-features label:hover {
  line-height: 20px;
  color: #283136;
  cursor: pointer;
}

.filters .title-item:nth-child(5) {
  margin-bottom: 13px;
}

.layouts-features {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 185px;
  padding: 0;
  margin: 0;
  margin-bottom: 48px;
}

.layouts-features label {
  position: relative;
}

.layouts-features label:hover {
  color: #000000;
}

.layouts-features label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: -43px;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  background-image: url("../img/svg-nerds/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  opacity: 0.4;
}

.layouts-features label:hover::before,
.layouts-features input[type=checkbox]:checked ~ label[for="layout-feature-slider"]:hover::before,
.layouts-features input[type=checkbox]:checked ~ label[for="layout-feature-features-block"]:hover::before,
.layouts-features input[type=checkbox]:checked ~ label[for="layout-feature-news-block"]:hover::before,
.layouts-features input[type=checkbox]:checked ~ label[for="layout-feature-gallery"]:hover::before,
.layouts-features input[type=checkbox]:checked ~ label[for="layout-feature-cart"]:hover::before {
  opacity: 1;
}

.layouts-features input[type=checkbox] {
  position: absolute;
  opacity: 0;
}

.layouts-features input[type=checkbox]:checked ~ label[for="layout-feature-slider"]::before,
.layouts-features input[type=checkbox]:checked ~ label[for="layout-feature-features-block"]::before,
.layouts-features input[type=checkbox]:checked ~ label[for="layout-feature-news-block"]::before,
.layouts-features input[type=checkbox]:checked ~ label[for="layout-feature-gallery"]::before,
.layouts-features input[type=checkbox]:checked ~ label[for="layout-feature-cart"]::before {
  position: absolute;
  top: -7px;
  left: -41px;
  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;
  background-image: url("../img/svg-nerds/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  opacity: 0.4;
}

.layouts-features li {
  padding: 0;
  padding-left: 37px;
  margin: 0;
}

.filter-btn {
  width: 260px;
  height: 50px;
  line-height: 18px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
  border: 0;
  background-color: #eeeeee;
}

.filter-btn:hover {
  background-color: #dfdfdf;
}

.filter-btn:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 800px;
  padding: 0;
  margin: 0;
  margin-top: 35px;
  background-color: #ffffff;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  width: 760px;
  padding-top: 3px;
  padding-right: 5px;
}

.sorting {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.sorting-menu {
  /*display: flex;
  justify-content: center;
  align-items: center;*/
  width: 405px;
  margin-top: 14px;
}

.sorting-type {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  opacity: 0.3;
  padding-top: 3px;
}

.sorting-type:nth-child(1) {
  margin-left: 42px;
}

.sorting-type:nth-child(2) {
  margin-left: 22px;
}

.sorting-type:nth-child(3) {
  margin-left: 22px;
}

.sorting-type:hover {
  opacity: 0.6;
}

.sorting-type:active,
.sorting-type-current {
  opacity: 1;
}

.sorting-direction {
  display: inline-block;
  width: 11px;
  height: 10px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  opacity: 0.2;
  padding-top: 3px;
}

.sorting-down {
  margin-left: 43px;
}

.sorting-up {
  padding: 0;
  margin: 0;
  margin-left: 10px;

}

.sorting-direction:hover {
  opacity: 0.6;
}

.sorting-direction-current,
.sorting-direction:active {
  opacity: 1;
}

.sorting-down {
  background-image: url("../img/svg-nerds/icon-down-dir.svg");
}

.sorting-up {
  background-image: url("../img/svg-nerds/icon-up-dir.svg");
}

.product-list {
  display: flex;
  justify-content: space-between;
  width: 800px;
  flex-wrap: wrap;
  padding: 0;
  padding-left: 39px;
  margin: 0;
  margin-top: 80px;
}

.catalog-item {
  position: relative;
  width: 360px;
  height: 576px;
  margin-top: 73px;
  list-style: none;
}

.catalog-item:first-child,
.catalog-item:nth-child(2) {
  margin-top: 0;
}

.catalog-item::before {
  content: "";
  position: absolute;
  top: -39px;
  display: block;
  width: 360px;
  height: 40px;
  background-image: url("../img/svg-nerds/browser.svg");
  opacity: 0.12;
}

.catalog-item:hover::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 360px;
  height: 300px;
  box-shadow: 0 6px 15px 0 rgba(0, 1, 1, 0.25);
}

.catalog-item:hover .catalog-item-description {
  z-index: 1;
}

.catalog-item:hover::before {
  opacity: 1;
}

.catalog-item-description {
  display: block;
  position: absolute;
  width: 360px;
  min-height: 231px;
  bottom: 0;
  background-color: #eeeeee;
  text-align: center;
  z-index: -1;
}

.catalog-item-description .title-item {
  margin: 0 auto;
  padding: 0;
  padding-top: 26px;
}

.catalog-item-description a {
  cursor: pointer;
}

.catalog-item-description p {
  padding: 0 90px;
  margin: 0 auto;
  margin-top: 15px;
}

/*.catalog-item-description:nth-child(2) p {
  padding: 0 60px;
}

.catalog-item-description:nth-child(5) p,
.catalog-item-description:nth-child(6) p {
  padding: 0 70px;
}*/

.catalog-order-btn {
  width: 200px;
  height: 50px;
  background-color: #fb565a;
  margin-top: 32px;
  border: 0;
}

.catalog-order-btn:hover {
  background-color: #e74246;
}

.catalog-order-btn:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.paginator {
  display: flex;
  justify-content: space-between;
  width: 443px;
  margin: 0;
  margin-left: 40px;
  margin-top: 60px;
  padding: 0;
  list-style: none;
}

.paginator-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin: 0;
  padding: 0;
  line-height: 18px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  color: #000000;
  background-color: #eeeeee;
}

.paginator-item:last-child {
  width: 260px;
}

.paginator-item:hover {
  background-color: #dfdfdf;
}

.paginator-item:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 rgba(0, 1, 1, 0.1);
}

.paginator-item-current,
.paginator-item-current:hover,
.paginator-item-current:focus,
.paginator-item-current:active {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
  box-sizing: border-box;
}

.title-3 {
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.title-item {
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
